.item-list-section{
  padding:30px 0;
  th{
    background: #d6e5f2;
  }

}

.item-info{
  .img-content{
    width:60px;
    height: 60px;
    display: inline-block;
    margin-right: 10px;
    img{
      width:60px;
      height: 60px;
    }
  }
  .txt-content{
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 70px);
  }
  .item-property{
    color:#999;
    margin-top: 10px;
  }
}
.online,.offline{
  vertical-align: middle;
  &::before{
    content:' ';
    height: 5px;
    width:5px;
    margin-right: 5px;
    background: green;
    vertical-align: middle;
    display: inline-block;
    border-radius: 50%;
  }
}
.offline{
  &::before{
    background: #ff7a2b;
  }
}

.handle{
  margin-bottom: 5px;
  display: block;
}
