@import '../../mixins';

.breadcrumb-layout {
  padding: 16px;
  .breadcrumb {
    margin-bottom: 16px;
    color: $color-light;
    & > span:last-child {
      color: $color-light;
      font-weight: 400;
    }
    .link {
      color: $color-light;
    }
  }
  .container {
    background: #fff;
    border-radius: 3px;
    min-height: calc(100vh - 116px);
  }
}
