
.form-section {
  padding-bottom:20px;
  input{
    margin-bottom: 5px;
    width:115px;
  }
  .form {
    background: #fafafa;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    padding: 16px 30px;
    margin-bottom: 30px;
  }
}
