@import '../../../shared/mixins';

.main-section {
  .container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .item-input{
    width:238px;
  }
}

.item-form{

  font-size: 12px;
  max-width: 450px;
  padding-top: 15px;
  min-width: 284px;
  em{
    color:#f00;
    margin-right: 5px;
    vertical-align: middle;
  }
  li{
    margin-bottom: 12px;
    line-height: 28px;
    vertical-align: middle;
    label{
      display: block;
      text-align: right;
      vertical-align: middle;
    }
    button{
      margin-right: 10px;
    }
    .no-bottom-space{
      margin-bottom: 0;
    }
    &:first-child{
      line-height: 80px;
       img{
        vertical-align: middle;
        height: 80px;
        width:80px;
        border: 1px solid #E9E9E9;
        border-radius: 4px;
        margin-right: 10px;
      }
    }


  }

}
