@import '../../shared/mixins';

.header {
  line-height: 50px;
  background: $primary;
  padding: 0 20px;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    .col-left {
      .link {
        color: $color;
        margin: 0 15px;
        &.active {
          font-weight: 900;
        }
      }
    }

    .col-right {
      text-align: right;
      .link {
        color: $color;
        margin: 0 15px;
      }
    }
  }
}
